.clearfix { 
	zoom: 1;
	&:before, &:after { 
		content: ""; display: block; height: 0; visibility: hidden; 
	}
	&:after { 
		clear: both; 
	}
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.hide-on-desktop {
	display: initial;
	visibility: visible;
}

.list-none  {
	&,
	li {
		list-style: none;
	}
}

.floating-li>li {
	display: inline;
}

.taR {
	text-align: right;
} 
.taC {
	text-align: center;
}
.taL {
	text-align: left;
}
.w100{
	width: 100%;
}
.h100{
	height: 100%;
}
.abs{
	position: absolute;
}
.fix{
	position: fixed;
}
.rel{
	position: relative;
}

.abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.abs-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.sticky {
	position: sticky;
	&-top {
		top: 0;
	}
}
.square {
	aspect-ratio: 1 / 1 ;
}
.circ {
	border-radius: 50%;
}
.flexcols {
	display: flex;
	flex-wrap: wrap;
	.flexcols-item {
		&--even_W {
			width: clamp(5em, 6ch, 100px);
		}
	}
}
.valign-center {
	justify-content: center;
}
.fill-color-contrast-high {
	fill: var(--color-contrast-high);
}
.border-T,
.border-B {
	position: relative;
}
.border-T::before,
.border-B::after {
	content: "";
	display: block;
	background-color: var(--color-contrast-high);
	position: absolute;
	left: 0;
	transform-origin: center;
	// width: calc(100% + (var(--padL) * 2));
	width: 100%;
	height: $line-THICK;
}
.border-T::before {
	top: 0;
}
.border-B::after {
	bottom: 0;
}

.color-highlight {
	color: var(--color-highlight);
}

.portrait-only {
	visibility: visible;
	display: block;
	@include mq(mq-land) {
		visibility: hidden;
		display: none;
	}
}
.landscape-only {
	visibility: hidden;
	display: none;
	@include mq(mq-land) {
		visibility: visible;
		display: block;
	}
}

.link-abs-pos {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
}

.mar-T {
	margin-top: calc(var(--pad-T) * 1.5);
}
.mar-B {
	margin-bottom: calc(var(--pad-T) * 1.5);
}
.mar-B-3 {
	margin-bottom: calc(var(--pad-T) * 4.5);
}
.pad-T {
	padding-top: calc(var(--pad-T) * 1.5);
}
.pad-B {
	padding-bottom: calc(var(--pad-T) * 1.5);
}

.multiply {
	mix-blend-mode: multiply;
}

$mawConfig: 10, 15, 20, 22, 23, 24, 25, 30, 33, 35, 40, 45, 50, 60;
.maw {
	@for $i from 1 through length($mawConfig) {
		&-#{nth($mawConfig, $i)} {
			max-width: #{nth($mawConfig, $i)}em;
		}
	}
}
.multiply,
.instructor-list--item_img {
	mix-blend-mode: multiply;
}