/*
.svg-container {
	position: relative;
	width: 100%;
	
	svg {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
*/
.svg-container {
	position: relative;
	// width: 100%;

	svg {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}