.nav-switch,
.nav-checkbox { display: none }


.hamburger {
	display: block;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
	cursor: pointer;
	width: $ham-W;
	height: $ham-H;
	bottom: var(--pad-T);
	right: calc(var(--pad-R) * 0.5);
	@include mq(mq-land) {
		bottom: calc(var(--pad-T) * 1.0);
	}
	@include mq(mq-land-L-UP) {
		bottom: calc(var(--pad-T) * 0.5);
	}
	@include mq(mq-BREAK-P) {
		// right: 0;
	}
}

.hamburger span {
	// display: block;
	// position: absolute;
	top: ($ham-H / 2) - ($ham-BAR_STROKE / 2);
	// left: 0;
	// z-index: 1;
	&,
	&::before,
	&::after {
		position: absolute;
		display: block;
		left: 0;
		content: "";
		z-index: 2;
		height: $ham-BAR_STROKE;
		width: 100%;
	}
	&::before,
	&::after {
		background-color: var(--color-primary);
	}
	&::before {
		top: -$ham-BAR_STROKE - $ham-BAR_SPACE;
	}
	&::after{
		bottom: -$ham-BAR_STROKE - $ham-BAR_SPACE;
	}
}