.body-blackout {
	position: fixed;
	z-index: 1010;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	// background-color: rgba(255, 255, 255, 0.95);
	background-color: hsla(0, 0%, 100%, 0.9);
	display: none;

	&.is-blacked-out {
		display: block;
	}
}
/*
*/

.popup-trigger {
  display: inline-block;
}

.popup-modal {
	// width: 100%;
	width: calc(100vw - (#{$pad-L} * 1.0));
	height: auto;
	max-height: 90vh;
	max-width: 45rem;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	pointer-events: none;
	transition: all 300ms ease-in-out;
	z-index: 1011;

	display: flex;
	flex-direction: column;

	

	&.is--visible {
		opacity: 1;
		pointer-events: auto;
	}

	&__close {
		position: absolute;
		font-size: 1.2rem;
		top: calc(var(--touch-S) * -1.5);
		// right: 0;
		right: calc(var(--touch-S) * -.25);
		@include mq(mq-land) {
			// top: 0;
			top: calc(var(--touch-S) * -1.5);
			right: calc(var(--touch-S) * -2.0);
		}
		cursor: pointer;
		z-index: 5;
	}

	.popup-close-btn {
		text-indent: -999px;
		overflow: hidden;
		width: calc(var(--touch-S) * 1.0);
		height: calc(var(--touch-S) * 1.0);
		@include mq(mq-land) {
			width: calc(var(--touch-S) * 1.5);
			height: calc(var(--touch-S) * 1.5);
		}
		padding: 0;
		background-color: transparent;
		border: none;
		
		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 50%;
			height: $line-THICK;
			top: 50%;
			left: 50%;
			z-index: 10;
			background-color: var(--gray-3);
		}
		&::before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
	.popup-modal-content {

		width: 100%;
		border-radius: $bor-RADIUS;
		// overflow: hidden;
		&[data-theme="dark"] {
			background-color: var(--gray1);
		}

	}


}