$size: 60px;
.js {
	.wrapper.loading {
		&::before,
		&::after {
			content: '';
			position: fixed;
			z-index: 100000;
		}
		&::before {
			
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
		}
		&::after {
			
			top: 50%;
			left: 50%;
			width: $size;
			height: $size;
			margin: calc(#{$size} / -2) 0 0 calc(#{$size} / -2);
			pointer-events: none;
			border-radius: 50%;
			opacity: 0.5;
			// background: #000;
			background: hsla(0,0%,0%,1);
			// background: pink;
			animation: loaderAnim 0.7s linear infinite alternate forwards;
		}
	}
}
.js {
	.wrapper.loaded {
		&::before,
		&::after {
			opacity: 0;
			z-index: -100000;
			transform: opacity 200ms, z-index 200ms;
		}
	}
}
@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.65,0.65,1);
	}
}