@import '1-settings/_colors';
@import '1-settings/_vars';
@import '1-settings/_custom-ff';

@import '1-tools/_mixins';

// @import '2-generic/_body';
// @import '2-generic/_box-model';
// @import '2-generic/_reset';
// @import '2-generic/_type';

// @import '3-elements/_0-a';
// @import '3-elements/_0-table';
// @import '3-elements/_0-ul';
// @import '3-elements/_1-button';
// @import '3-elements/_1-form';
// @import '3-elements/_2-headlines';
// @import '3-elements/_2-sub-sup';

// @import '4-objects/_classes';
// @import '4-objects/_lazyloading';
// @import '4-objects/_svg';
// @import '4-objects/_video-embed';


// @import '5-components/_01-header';
// @import '5-components/_02-logo';
// @import '5-components/_03.01-menu';

@import '5-components/_03.02-langswitch';
// @import '5-components/_05-content';
// @import '5-components/_06-footer';
// @import '5-components/_00-css3-transforms.scss';


@media (max-width: 781px) {
	.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column.column_circle {
	    flex-basis: calc((100% - (var(--pad-R) * 1)) * 1/ 2)!important;
	}
}

@media (min-width: 782px) {
	.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column.pricelist-col_price {
	    flex-basis: 8ch!important;
	    flex-grow: 0;
	}
}

.section-content .normal a,
.text-link.normal a,
a.text-link.normal {
	text-transform: none!important;
}

.section {
	* + .wp-block-image:not(.mar-T) {
		margin-top: calc(var(--pad-T) * 0.875);
	}
}


.acf-line-top {
  padding-bottom: 1px;
}

figure + .acf-line-top {
  margin-top: calc(var(--pad-T)* 2.5);
}

h3 + figure.wp-block-embed {
  margin-block-start: var(--pad-T);
}

.wp-post-image img {
	margin-bottom: -5px;
}


/* Inline #14 | http://localhost:3000/rezervace/kontakt/ */

:where(.wp-block-columns.is-layout-flex),
:where(.wp-block-columns.is-layout-flex),
:where(.is-layout-flex) {
  gap: 0;
  gap: var(--tile-gap);
}
.wp-block-columns {
	&.wrap-on-portrait {
		flex-wrap: wrap !important;
		@include mq(mq-land) {
			flex-wrap: nowrap;
		}
		@include mq(mq-iPad-port) {
			flex-wrap: wrap !important;
		}

		.wp-block-column {
			// flex-basis: 100%;
			@include mq(mq-land) {
				flex-basis: 0;
			}
		}
		.wp-block-column {
		  flex-grow: 0;
		  min-width: intial;
		}
	}
}

.flex-grow-0 {
	// flex-grow: 0!important;
	// flex-basis: auto!important;
}
.flex-basis-0 {
	flex-basis: auto;
}

@media (min-width: 782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.flex-grow-0 {
		width: auto;
    flex-basis: auto;
    flex-grow: 0;
  }

  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: auto;
    flex-grow: 0;
  }

  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.flex-basis-0 {
    flex-basis: 0;
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.flex-grow-0 {
    flex-basis: auto;
    flex-grow: 0;
  }
}

