@font-face {
	font-family: 'InterR-var';
	font-style: normal;
	// font-weight: 100 900;
	font-display: swap;
	src: url('../fonts/Inter-roman.woff2') format('woff2');
	font-named-instance: 'Regular';
}
@font-face {
	font-family: 'InterB-var';
	font-style: normal;
	// font-weight: 100 700;
	font-display: swap;
	src: url('../fonts/Inter-Bold.woff2') format('woff2');
	font-named-instance: 'Bold';
}

@font-face {
	font-family: 'InterI-var';
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('../fonts/Inter-italic.woff2') format('woff2');
	font-named-instance: 'Italic';
}

@font-face {
	font-family: 'SuisseWorks-R';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src:	url('../fonts/SuisseWorks-Regular-WebXL.woff') format('woff'),
			url('../fonts/SuisseWorks-Regular-WebXL.woff2') format('woff2');
	font-named-instance: 'Regular';
}