:root {
	--pad-T: calc(22px + (48 - 22) * ((100vw - 320px) / (2560 - 320)));
	--pad-R: calc(36px + (60 - 36) * ((100vw - 320px) / (2560 - 320)));
	--fscreen-T: var(--pad-T);
	--fscreen-R: var(--pad-R);

	// --hmbrgr-T: calc(3px + (18 - 3) * ((100vw - 320px) / (2560 - 320)));

	--touch-S: 32px;
	--icon-W: 30px;
	--dsalpha-1: 0.0;
	--dsalpha-2: 0.0;
	--maW: 1440;

	--logo-W: calc(160px + (220 - 160) * ((100vw - 320px) / (2560 - 320)));
	--logo-H: 130px;
	--header-H: 70vh;
	--headerH: 70px;
	--dir-LR: 1;

	--logo-RATIO: calc(300/73);
	--logo-ENLARGE: 1.18;

	--gap: calc(8px + (10 - 8) * ((100vw - 320px) / (2560 - 320)));
	--select-list-caption-gap: calc(50px + (124 - 50) * ((100vw - 320px) / (2560 - 320)));
	--tile-gap: var(--gap);

	--gutter: 10px;

	--flow-space: 0.75em;
	--aspect-R: 1.6;

	--radio-R: 24px;
	
	@media (pointer: coarse) {
		--touch-S: 40px;
		--icon-W: 36px;
		--gutter: 5px;
	}
}

/* GLOBAL SIZES */
// $touch-S: 40px;
$touch-S: var(--touch-S);
$sidebar-W: 127px;

/* CSS TRANSITION VARS */
$cubic: cubic-bezier(.13,1.5,.61,0.7);
$cubic-2: cubic-bezier(.3,.27,0,.99);
$global-transistion-duration: 0.65s;
$dur: 0.45;
$stagger: 0.15;
$prlx-dist: 40px;
$base-T: 0.65;

$cubic: cubic-bezier(.13,1.5,.61,0.87);
// $dur: 0.45;
// $stagger: 0.15;
$prlx-dist: 60px;
$paralax-dist: 55px;


/* GLOBAL FONT-SIZE */
$fz-NAV: calc(15px + (16 - 15) * ((100vw - 320px) / (2560 - 320)));
$fz-H1: calc(22px + (32 - 22) * ((100vw - 320px) / (2560 - 320)));
$fz-H2: calc(22px + (32 - 22) * ((100vw - 320px) / (2560 - 320)));
$fz-H3: calc(22px + (32 - 22) * ((100vw - 320px) / (2560 - 320)));
// $fz-H4: calc(18px + (21 - 18) * ((100vw - 320px) / (2560 - 320)));
$fz-PLAIN: calc(15px + (16 - 15) * ((100vw - 320px) / (2560 - 320)));
$fz-MEGA: calc(72px + (156 - 72) * ((100vw - 320px) / (2560 - 320)));
$fz-H4: $fz-PLAIN;
$fz-H5: $fz-PLAIN;
$fz-H6: $fz-PLAIN;
$fz-MINOR: calc(10px + (12 - 10) * ((100vw - 320px) / (2560 - 320)));

/* GLOBAL PADDING */
$pad-T: var(--pad-T);
$pad-R: var(--pad-R);
$pad-B: $pad-T;
$pad-L: $pad-R;

/* GLOBAL MARGIN */
$mar-T: $pad-T;
$mar-R: $pad-R;
$mar-B: $pad-B;
$mar-L: $pad-L;


/* HEADER */
$header-H: 84px;

/* LOGO */
$logo-W: 100px;
$logo-H: $logo-W;
$mar-logo-H: 320px;

/* NAVIGATION */
$nav-GAP: 1rem;
$nav-mar-T: $header-H+16px;
$nav-item-BOR_C: red;
$nav-BGR: lime;

/* NAVIGATION HAMBURGER MENU */
$ham-W: 40px;
$ham-H: 40px;
$ham-PAD: 16px;
$ham-BAR_STROKE: 2px;
$ham-BAR_SPACE: 5px;

/* FORM SPECIFIC */
$bor-RADIUS: 7px;

$img-caption-gap: calc(3px + (5 - 3) * ((100vw - 320px) / (2560 - 320)));


$line-THICK: 1px;
$border-size: calc(10px + (16 - 10) * ((100vw - 320px) / (2560 - 320)));
$dot-SIZE: 4px;

$img-border-W: calc(2px + (3 - 2) * ((100vw - 320px) / (2560 - 320)));

$max-W: 90rem; // 
$line-Lenght: 43rem;

$profile-img-W: 220px;
